<html>
    <head>
        <title>{% block title %}paste.mjuk.is{% endblock %}</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>
        <nav>
            paste.mjuk.is
        </nav>

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        {% block script %}
        {% endblock %}

        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/pastie.css') }}" />
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/fira_code.css') }}" />
    </body>
</html>
