{% extends "main.html" %}

{% block title %}
Paste {{ paste.name }}
{% endblock %}

{% block content %}
<div class="menu">
    <a href="/raw/{{ paste.name }}">Raw file</a> |
    <a href="#" id="remove_highlight">Without highlighting</a> |
    <a href="#" id="add_highlight">With highlighting</a> |
    Format: {{ paste.lang }} |
    Size: {{ paste.size }} 
</div>

<div class="code highlight">
    <ol>
        {{ paste.content|safe }}
    </ol>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
document.getElementById('remove_highlight').onclick =
function() {
    var code_blocks = document.getElementsByClassName('code');
    for (var i = 0; i < code_blocks.length; i++) {
        code_blocks[i].classList.remove('highlight');
    }
}

document.getElementById('add_highlight').onclick =
function() {
    var code_blocks = document.getElementsByClassName('code');
    for (var i = 0; i < code_blocks.length; i++) {
        code_blocks[i].classList.add('highlight');
    }
}
</script>
{% endblock %}
